@import url("detalhes.css");

:root {
  --we-color-bg-primary: #f5f5f5;
  --we-color-bg-secondary: bisque;
  --we-color-bg-tertiary: #636363;
  --we-color-bg-header: bisque;
  --we-color-card-bg: #fff;
  --we-color-card-border: #d9d9d9;

  --we-color-btn-primary: #3483fa;
  --we-color-btn-inverse: #fff;

  --we-color-font-primary: #636363;
  --we-color-font-secondary: #0caf1d;
  --we-color-font-tertiary: #fff;
  --we-color-font-placeholder: #d9d9d9;

  --we-color-error: #f33;
}


#cart-container-section {
  padding: 20px 0;
}

.cart-total-container {
  padding: 10px 20px;
}

.cart-total-container>h3 {
  text-align: left;
  font-size: 16px;
  color: var(--we-color-font-secondary);
}


.cart-item-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.cart-item-container img {
  width: 78px;
  height: 78px;
}

.cart-item-left {
  display: flex;
}

.cart-item-quantity-container {
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.cart-item-right {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  color: var(--we-color-font-secondary);
}

.cart-item-descricao {
  padding: 10px 0;
  color: var(--we-color-font-primary);
}

.cart-item-descricao h3 {
  font-size: 16px;
}

.cart-item-quantity-btn {
  color: var(--we-color-font-secondary);
  cursor: pointer;
  
}

.cart-item-quantity-container p {
  margin: 0 5px;
}

@media (min-width: 576px) {
  .cart-item-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-item-right {
    padding-top: 10px;
  }

  .cart-total-container h3 {
    text-align: right;
  }
}
