@import url("style.css");

:root {
  --we-color-bg-primary: #e8e8e8;
  --we-color-bg-secondary: #FFCC00;
  --we-color-bg-tertiary: #636363;

  --we-color-card-bg: #fff;
  --we-color-card-border: #d9d9d9;

  --we-color-btn-primary: #3483fa;
  --we-color-btn-inverse: #fff;

  --we-color-font-primary: #636363;
  --we-color-font-secondary: #0caf1d;
  --we-color-font-tertiary: #fff;
  --we-color-font-placeholder: #d9d9d9;

  --we-color-error: #f33;
}


.categoria-container {
  display: flex;
  gap: 20px;
}

.categoria {
  background-color: var(--we-color-bg-tertiary);
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: var(--we-color-bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.produto-detalhe-acima img {
  width: 220px;
}

.produto-detalhe-baixo {
  padding: 10px 20px 20px 20px;
}

.produto-detalhe-baixo h3 {
  color: var(--we-color-font-secondary);
  font-size: 20px;
}

.produto-detalhe-baixo>h4 {
  color: var(--we-color-font-primary);
  font-size: 14px;
}

.produto-detalhe-baixo p {
  color: var(--we-color-font-primary);
  font-size: 12px;
  margin: 10px 0;
}

#produtos-detalhes {
  padding: 20px 0;
}

.card-detalhes {
  background-color: var(--we-color-card-bg);
  border-radius: 14px;
  border: 1px solid var(--we-color-font-placeholder);
}

.mb20 {
  margin-bottom: 20px;
}

.produto-detalhe-acima {
  padding: 10px;
  display: flex;
  justify-content: center;
}
