@import url("style.css");


.categoria-container {
  display: flex;
  gap: 20px;
}

.categoria {
  background-color: #636363;
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.produto-detalhe-acima img {
  width: 220px;

}

.produto-detalhe-baixo {
  padding: 10px 20px 20px 20px;
}

.produto-detalhe-baixo h3 {
  color: #0CAF1D;
  font-size: 20px;
}

.produto-detalhe-baixo>h4 {
  color: #636363;
  font-size: 14px;
}

.produto-detalhe-baixo p {
  color: #636363;
  font-size: 12px;
  margin: 10px 0;
}

#produtos-detalhes {
  padding: 20px 0;
}

.card-detalhes {
  background-color: white;
  border-radius: 14px;
  border: 1px solid #d9d9d9;
}

.mb20 {
  margin-bottom: 20px;
}

.produto-detalhe-acima {
  padding: 10px;
  display: flex;
  justify-content: center;

}
