@import url("style.css");

#login-section {
  padding: 20px 0;
}

.we-login-form-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
} 

 .we-login-form-buttons {
  display: flex;
  justify-content: center;
  margin:  auto;
}
.we-login-form-buttons>button{
  display: flex;
  padding-bottom: 10px ;
  width: 220px;
  height: 40px;

}

.we-menu-items-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.we-menu-items-container img {
  width: 20px;
  height: 20px;
}



@media (min-width: 576px) {
  #login-section {
    padding: 40px 0;
  }
}
